* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .banner {
    text-align: center;
    padding: 20px;
    background-color: #1E235B;
    position: relative;
    background: url('../Imagenes/CTa.gif') center center fixed; /* Establece la imagen de fondo y su posición */
    background-size: cover; 
    width: 100%;
    margin: 0;
    padding: 0; 
}

.banner img {
    max-width: 10%;
    height: auto auto auto auto;
    display: block;
    margin: 0;
    padding: 0;
    background-image: url('../Imagenes/LogoEmpresa.jpg')center center fixed; /* Cambia 'ruta/de/la/imagen.jpg' por la ruta de tu imagen */
    
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

  body {
    margin: 0;
    padding: 0;
    background-color: #0A0E3F;
    color: #01a5bb;
    background: url('../Imagenes/CTa.gif') center center fixed; /* Establece la imagen de fondo y su posición */
    background-size: cover; 
}

.banner {
    text-align: center;
    padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    text-align: center; /* Añadido para centrar el navbar */
}

li {
    display: inline-block; /* Añadido para alinear horizontalmente los elementos */
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #01a5bb;

}

h1 {
    text-align: center;
    
}

#formu {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
    
}

fieldset {
    border: 2px solid #01a5bb;
    border-radius: 5px;
    padding: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #01a5bb;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: #01a5bb;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: white;
    color: #01a5bb;
}

footer {
    color: #fff;
    text-align: center;
    padding: 20px 0;
    background: url('../Imagenes/CTa.gif') center center fixed; /* pone el gif de fondo y su posición */
    background-size: cover;
    padding: 10px;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-logo img {
    width: 100px; /* Ajusta el tamaño del logo */
  }
  
  .footer-info {
    text-align: left;
  }
  
  .footer-info p {
    margin: 8px 0;
  }
  
  .footer-social img {
    width: 30px; /* Ajusta el tamaño de los iconos de redes sociales */
    margin-right: 10px;
    }

      @media screen and (max-width: 768px) {
        /* Estilos específicos para tablet y móvil */
    
        .banner {
            padding: 10px; /* Reducir el padding del banner */
        }
    
        ul {
            display: flex;
            flex-direction: column;
            text-align: center;
          }
    
        li {
            display: block; /* Cambiar a bloque para ocupar toda la anchura en móvil */
            width: 100%;
        }
        ul li {
            float: none;
            width: 100%;
            text-align: center;
          }
    
        li a {
            display: block;
            width: 100%;
            box-sizing: border-box;
        }
    
        footer {
            padding: 10px; /* Reducir el padding del footer */
        }
        .footer-content {
            flex-direction: column;
            text-align: center;
          }
    }